.search-area {
  background: #f7f7f7;
  padding: 1.25rem;

  button {
    width: 20%;
  }

  input[type='text'] {
    width: 75%;
  }
}

.page-summary-text {
  font-family: 'Open Sans';
  font-size: 1.45rem;
  font-weight: 300;
  line-height: 1.5;
}

.bs4-cdli-card {
  border: none !important;
  font-family: 'Open Sans';
  text-align: left;
  width: 100%;

  .card-body {
    margin-top: 1rem;
    padding: 0 !important;
  }

  .page-summary-text {
    font-family: 'Open Sans';
    font-size: 1.45rem;
    font-weight: 300;
  }

  .card-title {
    font-size: 14px;
    font-weight: 700;
    text-transform: upperCase;
  }

  .card-text {
    font-family: 'Open Sans';
    font-size: 16px;
  }

  .card-img-top {
    height: 13rem;
    object-fit: cover;
    width: 100%;
  }
}

.section-title {
  font-size: 36px;
  margin-top: 5rem;
}

@media only screen and (max-width: 600px) {
  .page-summary-text {
    font-size: 1rem;
    font-weight: normal;
  }

  .header-txt,
  .section-title {
    font-size: 28px;
  }

  .search-area {
    flex-direction: column;

    button {
      display: none;
      width: 100%;
    }

    input[type='text'] {
      height: 38px;
      width: 100%;
    }
  }
}
