// This file has all the necesaary css for
// journals single article web view page.

.article_no {
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 0;
  text-align: left;
}

.light-text {
  font-weight: 300;
}

.article_table {
  margin-bottom: 0.0001pt;
  margin-left: 5pt;
  margin-right: 5pt;
  margin-top: 0;
  padding: 5px;
  text-align: justify;
  text-justify: inter-word;
}

.article_title {
  font-family: 'Open Sans';
  font-size: 36px;
  font-weight: normal;
  line-height: 44px;
  margin-bottom: 8px;
  margin-left: 5pt;
  margin-right: 5pt;
  padding: 5px;
  text-align: justify;
}

.article_author {
  font-family: 'Open Sans';
  font-size: 14px;
  line-height: 1.2;
  margin-top: 0;
  text-align: right;
}

.download_button {
  display: flex;
  flex: .8;
  justify-content: flex-end;
  margin-bottom: 1%;
}

.fade {
  opacity: 0;
}

.fade.active {
  opacity: 1;
}

.cycle-tab {
  margin-top: 2%;
}

.cycle-tab-item {
  flex: .1;
}

.cycle-tab-item::after {
  border-bottom: solid 3px #1661ab;
  content: '';
  display: block;
  transform: scaleX(0);
}

.cycle-tab-item.active::after {
  transform: scaleX(1);
  transform-origin: 0% 50%;
}

.nav-link:focus,
.nav-link:hover,
.nav-link:active,
.cycle-tab-item.active a {
  border-color: transparent !important;
  color: #1661ab;
}

.tab-content {
  margin-top: 3%;
}

.cuneiform {
  font-family: CuneiformComposite;
  font-size: 12pt;
}

.hi {
  padding-left: 22px;
  text-indent: -22px;
}

.i {
  padding-left: 22px;
}

sub {
  font-size: smaller;
  vertical-align: -2pt;
}

sup {
  font-size: smaller;
  vertical-align: 2pt;
}

.csl-entry {
  margin-bottom: 0.5em;
  padding-left: 3em;
  text-indent: -3em;
}

table {
  border-collapse: collapse;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-bottom: 0.0001pt;
  margin-left: 5pt;
  margin-right: 5pt;
  margin-top: 0;
  padding: 5px;
  text-align: justify;
  text-justify: inter-word;
}

td {
  margin: 0;
  padding: 5px;
}

tr {
  border-collapse: collapse;
  margin: 0;
}

.second-heading {
  font-size: 18px;
  font-weight: bold;
}

.bo {
  font-weight: bold;
}

.review_hi {
  font-size: 1.75rem;
  margin-bottom: 19px;
  margin-top: 32px;
}

.review_fi {
  background-color: #fcfcfc;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 16px;
  margin-top: 6px;
  padding: 7px;
}

.comment {
  background-color: #fcfcfc;
  font-size: 16px;
  font-style: 'Open Sans';
  margin-bottom: 16px;
  margin-top: 11px;
  padding: 12px 20px;
}

a.morelink {
  outline: none;
  text-decoration: none;
}

.morecontent {
  display: none;
}

.fi_icon {
  color: #00f;
}

.discuss {
  margin-bottom: 1em;
}

.bold_font {
  font-weight: normal;
}

.italic_font {
  font-style: italic;
}

.author1 {
  font-weight: 400;
  margin-bottom: 0;
}

.content_hi {
  font-size: 18px;
  font-style: 'Open Sans';
  font-weight: 600;
  line-height: 20px;
}

.article_author1 {
  margin-bottom: 18px;
}

.single-article-content > p > b {
  font-size: 18px;
  font-style: 'Open Sans';
  font-weight: 600;
  line-height: 20px;
}

.single-article-content > p {
  font-size: 18px;
  font-style: 'Open Sans';
  line-height: 1.875rem;
  text-align: left;
}

.nav-tabs .nav-link.active ,
.nav-tabs .nav-item.show .nav-link {
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff;
  color: #1661ab;
}
