.fixed-table {
  background: #fff;
  position: absolute;
  width: 20rem;
}

.scrollable-table {
  margin-left: 20rem;
}

.cdli-btn-group {
  align-items: center;
  flex-direction: row-reverse;

  button {
    height: 40px;
    width: 200px;
  }
}

.query-success {
  color: #818182;
  font-style: normal;
  font-weight: bold;
  line-height: 24px;
  position: absolute;
}

.queryString {
  color: #1661ab;
}

.search-links {
  color: #1661ab;

  &:hover {
    text-decoration: none;
  }
}

// Enable grid css styles
// scss-lint:disable PropertySpelling
.sort-by-search-sm {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 3fr;

  label {
    margin: 0;
  }
}

// Enable grid css styles
// scss-lint:disable PropertySpelling
.search-page-grid {
  align-items: baseline;
  display: -ms-grid;
  display: grid;
  gap: 1rem;
  -ms-grid-columns: 3fr 1rem 1fr;
  grid-template-columns: 3fr 1fr;

  input,
  select {
    background-color: #fff;
    border: solid 1px #ced4da;
    height: 38px;
    padding: 0.25rem 0.5rem;
  }

  .grid-1 {
    -ms-grid-column: 1;
    grid-column: 1;
  }

  .grid-2 {
    -ms-grid-column: 3;
    grid-column: 2;
  }
}

.search-result-card .title {
  color: #1661ab !important;
  font-size: 1.5rem;
  font-weight: 300;
}

.search-media {
  img {
    margin-top: 1rem;
    padding: 2rem;
    padding-bottom: 0;
    width: 100%;
  }

  figcaption {
    background-color: #404548;
    color: #fff;
    margin: 0 2rem;
    padding: 0.25rem 0.5rem;
    text-align: center;
  }
}

.search-grid-layout p {
  margin-bottom: 0.25rem;
}

.overflow-wrapper {
  background: #fff;
  overflow: auto;
}

.overflow-wrapper::-webkit-scrollbar {
  display: none;
}

.search-table-layout {
  width: 150rem;
}

.fixed-table td,
.fixed-table th,
.search-table-layout th,
.search-table-layout td {
  height: 5rem;
  min-width: 10rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.fixed-table th,
.search-table-layout th {
  height: auto;
}

.sort-by-dd {
  width: 212px;
}

.filter-checkbox .checkbox {
  text-align: left;
}

.filter-checkbox .checkbox label input[type="checkbox"] {
  margin-right: 0.25rem;
}

.search-add-field-group {
  margin-top: 3rem;
}

.search-add-field-group button {
  margin-left: 15px;
}

.search-applied-filters p,
.sidebarFilter-p {
  color: #212529;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 0;
  text-transform: uppercase;
}

.sideFilterBlock .accordion > section,
.modal .accordion > section {
  background: #eee;
  padding: 0;
}

.sideFilterBlock .checkbox label input[type="checkbox"],
.modal .checkbox label input[type="checkbox"] {
  margin-right: 0.25rem;
}

.sideFilterBlock .detail-leaf,
.modal .detail-leaf {
  background: #fff;
  padding: 0 !important;
}

.sideFilterBlock label,
.modal label {
  font-size: 16px;
  margin-bottom: 0;
}

.sideFilterBlock .accordion > section > p,
.modal .accordion > section > p {
  border-bottom: solid 1px rgba(0, 0, 0, 0.13);
  border-left: solid 1px rgba(0, 0, 0, 0.13);
  border-right: solid 1px rgba(0, 0, 0, 0.13);
  padding: 0.15rem 1rem;
}

// Enable grid css styles
// scss-lint:disable PropertySpelling
.extended-search-actions {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  min-height: 80px;
  text-align: left;
}

.sort-options {
  display: flex;

  div {
    margin-right: 2rem;

    label {
      margin-right: 0.5rem;
    }
  }
}

@media only screen and (max-width: 992px) {
  .search-media {
    img {
      padding: 1rem;
      padding-bottom: 0;
      padding-top: 2rem;
    }

    figcaption {
      margin: 0 1rem;
    }
  }

  .extended-search-actions {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
// Enable grid css styles
// scss-lint:disable PropertySpelling
  .search-page-grid {
    grid-template-columns: 1fr;
  }

  .w-100-sm {
    width: 100%;
  }

  .search-add-field-group button {
    margin-left: 0;
  }

  .cdli-btn-group {
    flex-direction: column-reverse;

    button {
      width: 100%;
    }
  }

  .search-add-field-group {
    margin-top: 0;

    .cdli-btn-blue {
      margin-top: 2rem;
    }
  }
}
