$viewerbgcolor: rgb(0, 0, 0);
$viewerheight: 480px;
$viewerwidth: 640px;

.canvas {
  box-sizing: border-box;
  height: $viewerheight;
  margin: 0 auto;
  max-width: 1000px;
  position: relative;
  width: $viewerwidth;
}

img {
  display: block;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.threeDcontainer {
  height: $viewerheight;
  margin: 0 auto;
  width: $viewerwidth;
}

#progress {
  display: none;
  font-weight: bold;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 100;
}

#threeDrenderer {
  border: 1px solid #a0a0a0;
  border-radius: 10px;
}

.infoText {
  text-align: center;
}

#iconbar {
  left: 10px;
  position: absolute;
  top: 10px;
}

#lowericonbar {
  bottom: 10px;
  left: 10px;
  position: absolute;
}

.icons {
  img {
    cursor: pointer;
    height: 32px;
    margin-bottom: 6px;
    opacity: 0.5;
    width: 32px;
    }
}

.align-left {
  float: left;
}

.align-right {
  float: right;
}

.viewer {
  background-color: $viewerbgcolor;
}

@media (max-width: 425px){
  .canvas {
    height: 355px;
    width: 320px;
  }

  .threeDcontainer {
    height: 355px;
    width: 320px;
  }

  .infoText {
    text-align: center;
  }
}
